nodered.json
[
    {
        "id": "0d66130d53e6362c",
        "type": "tab",
        "label": "Flow 32",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "99b4b9d0886de699",
        "type": "inject",
        "z": "0d66130d53e6362c",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ab",
        "payload": "11,22",
        "payloadType": "str",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "cee25328fcf418c0"
            ]
        ]
    },
    {
        "id": "84952d43faf99d09",
        "type": "tcp in",
        "z": "0d66130d53e6362c",
        "name": "testtcp",
        "server": "server",
        "host": "",
        "port": "2000",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "test",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "cee25328fcf418c0"
            ]
        ]
    },
    {
        "id": "cee25328fcf418c0",
        "type": "function",
        "z": "0d66130d53e6362c",
        "name": "function 14",
        "func": "var Output = msg.payload.split(\",\");\nTemp = {payload:Number(Output[0])};\nHumi = {payload:Number(Output[1])};\n\nreturn [Temp, Humi]",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 180,
        "wires": [
            [
                "995f33b02a4911c4"
            ],
            [
                "c815458ec9c587c6"
            ]
        ]
    },
    {
        "id": "995f33b02a4911c4",
        "type": "ui_gauge",
        "z": "0d66130d53e6362c",
        "name": "",
        "group": "dee00cc41d734c7f",
        "order": 31,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "c815458ec9c587c6",
        "type": "ui_chart",
        "z": "0d66130d53e6362c",
        "name": "",
        "group": "dee00cc41d734c7f",
        "order": 32,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "dee00cc41d734c7f",
        "type": "ui_group",
        "name": "My Dashboard",
        "tab": "8c6963b47e8cce75",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8c6963b47e8cce75",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]